/*Sign in moving texts*/

.ml7 {
  position: relative;
  font-weight: 400;
  font-size: 3.0em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.login-logo{
  height: 500px;
  width: auto;

}

/*footers*/
.my-foot{
  
  
}

